<.header>
  New Client setting
  <:subtitle>Use this form to manage client_setting records in your database.</:subtitle>
</.header>

<.client_setting_form changeset={@changeset} action={~p"/client_settings"} />

<.back navigate={~p"/client_settings"}>Back to client_settings</.back>
